img{
    max-height: 200px
}




.formulario {
    width: 400px;
    background: #2c3c4d;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}

.formulario h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.coso {
    width: 95%;
    background: black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid blue;
    font-size: 18px;
    color: white;
}

.formulario .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 9px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#myBtn{
    margin-right: 10px;
}






